/* Container holding the image and the text */
.container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 4px;
   }
   
   /* Background image */
   .bg-image {
    background-image: url('https://static.vecteezy.com/system/resources/previews/021/171/635/non_2x/colorful-abstract-wallpaper-modern-background-ai-generated-free-photo.jpg');
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   }
   
   /* Add a background color to the cancel button */
   .cancelbtn {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    background-color: #f44336;
   }
   
   /* Add hover effect to buttons */
   .btn:hover {
    opacity: 0.8;
   }
   
   /* Clear floats */
   .clearfix::after {
    content: "";
    clear: both;
    display: table;
   }
   
   /* Change styles for cancel button and signup button on extra small screens */
   @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
   }