<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />

    <title>Contact</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="./assets/css/fontawesome.css" />
    <link rel="stylesheet" href="./assets/css/templatemo-villa-agency.css" />
    <link rel="stylesheet" href="./assets/css/owl.css" />
    <link rel="stylesheet" href="./assets/css/animate.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <header style="background-color:#4cbb17;" class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav" style="display: flex;">
                        <!-- ***** Logo Start ***** -->
                        <a href="http://localhost:4000/indexpg" class="logo">
                            <h1>RoadSenseAi</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <!-- <li><a href="index.html" class="active">Home</a></li> -->
                            <li><a href="http://localhost:4000/display_frames1">No Helmet</a></li>
                            <li><a href="http://localhost:4000/display_frames2">Wrongside</a></li>
                            <li><a href="http://localhost:4000/display_frames3">Traffic light Breaking</a></li>
                            <li "><a style=" padding-left: 10%;" href="http://localhost:4000/contactus">Contact</a></li>


                            <!--  <li>
                      <a href="#"
                        ><i class="fa fa-calendar"></i> Schedule a visit</a
                      >
                    </li> -->
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="properties section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <img src="./assets/images/hisham.jpg" alt="" />
                        </a>
                        <span class="category">Mohammed Hisham Saeed </span>
                        <h4>Team Leader</h4>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <a href="property-details.html"><img src="./assets/images/poorvi.jpg" alt="" /></a>
                        <span class="category">M Poorvi Reddy</span>
                        <h4>
                            <a href=""></a>
                        </h4>


                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <a href="property-details.html"><img src="./assets/images/raniya.png" alt="" /></a>
                        <span class="category">Raniya Farhan Shaikh</span>

                        <h4>
                            <a href="property-details.html"></a>

                        </h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <a href="property-details.html"><img src="./assets/images/shafaat.jpg" alt="" /></a>
                        <span class="category">Mohammed Shafaat Hussain</span>

                        <h4>
                            <a href="property-details.html"></a>
                        </h4>


                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <a href="property-details.html"><img src="./assets/images/musaib.jpg" alt="" /></a>
                        <span class="category">Musaib Ahmed Khan</span>
                        <h4>
                            <a href="property-details.html"></a>
                        </h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <a href="property-details.html"><img src="./assets/images/ayman.jpg" alt="" /></a>
                        <span class="category">Mohammed Ayman Quadri</span>

                        <h4>
                            <a href="property-details.html"></a>
                        </h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</head>
<footer>
    <div class="container">
        <div class="col-lg-8">
            <p style="padding-left: 45%;">
                Copyright © 2023 &emsp; Code-Enforcers &emsp; All rights reserved.
            </p>
        </div>
    </div>
</footer>

</html>