<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="" rel="stylesheet" />
  <link rel="stylesheet" href="style.css">

  <title>RoadSense-Ai</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="./assets/css/fontawesome.css" />
  <link rel="stylesheet" href="./assets/css/templatemo-villa-agency.css" />
  <link rel="stylesheet" href="./assets/css/owl.css" />
  <link rel="stylesheet" href="./assets/css/animate.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

  <!-- ***** Header Area Start ***** -->
  <header style="background-color:#4cbb17;" class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav" style="display: flex;">
            <!-- ***** Logo Start ***** -->
            <a href="http://localhost:4000/indexpg" class="logo">
              <h1>RoadSenseAi</h1>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <!-- <li><a href="index.html" class="active">Home</a></li> -->
              <li><a href="http://localhost:4000/display_frames1">No Helmet</a></li>
              <li><a href="http://localhost:4000/display_frames2">Wrongside</a></li>
              <li><a href="http://localhost:4000/display_frames3">Traffic light Breaking</a></li>
              <li><a href="http://localhost:4000/contactus">Contact</a></li>


              <!--  <li>
                  <a href="#"
                    ><i class="fa fa-calendar"></i> Schedule a visit</a
                  >
                </li> -->
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner">
    <div class="owl-carousel owl-banner">
      <div class="item item-1">
        <!-- -->
        <div class="header-text">
          <span class="category"><em></em></span>
          <h2><br /></h2>
        </div>
      </div>
      <div class="item item-2">
        <div class="header-text">
          <span class="category"> <em></em></span>
          <h2><br /></h2>
        </div>
      </div>
      <div class="item item-3">
        <div class="header-text">
          <span class="category"><em></em></span>
          <h2><br /></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="featured section">
    <div class="container" style="">
      <div class="row">
        <div class="section-heading" style="padding-left: 20%;">
          <h1 style="font-weight: 800; padding-left: 22%;padding-bottom:6%;">Flowchart</h1>

          <img src="flowchart2.svg" alt="" style="height:68%; width: 68%;" />
        </div>
        <div style="background-color: bisque;padding: 50px;">
          <h1 style="text-align: center ;">AI Software to detect Traffic rules violators</h1>
          <h4 style="padding-top: 2%;">Improvements in Road Safety:</h4>
          Reduces the severity of head injuries sustained in motorbike accidents and improves road safety by encouraging
          and enforcing the use of helmets. <br>
          <h4 style="padding-top: 2%;">Automated Monitoring of Law:</h4>
          Reduces the need for manual enforcement by offering an automated method of monitoring and guaranteeing
          adherence to laws requiring the wearing of helmets.
          <h4 style="padding-top: 2%;">Intervention in Time:</h4>
          Permits prompt detection and action when riders fail to wear helmets, enabling the issue of warnings or
          corrective measures right away.
          <h4 style="padding-top: 2%;">Active Violators:</h4>
          serves to discourage riders who might otherwise forget to wear helmets, fostering a culture of responsible and
          safe riding practices.
          <h1 style="padding-top: 3%;padding-left: 27%; padding-bottom: 1%;">Technology Stack Required:</h1>
          <h4>Frontend:</h4>
          <strong>Html & CSS:</strong> Used for structuring and styling the pages <br>

          <strong>JavaScript: </strong> Dynamically updating the UI with data fetched from the AI model.
          <h4 style=" padding-top: 2%;">Backend:
          </h4> <strong>Node.js:</strong> Makes it possible for JS code to run server-side. It is frequently used to
          create effective APIs and real-time apps. <br>
          <strong>Express.js: </strong>Minimal, flexible Node.js framework for efficient web development with
          streamlined routing. <br>
          <strong>MongoDB: </strong> known for flexibility, scalability, and support for dynamic schemas, storing data
          in BSON format.
          <h1 style="padding-left: 48%; padding-top: 3%; padding-bottom: 1%;">AI:</h1>

          <strong>Python:</strong> an adaptable programming language with a large library and readability that is used
          for a wide range of tasks, such as data science, artificial intelligence, etc. <br>
          <strong>OpenCV:</strong> Provides tools for image and video analysis, including functions for object
          detection, image recognition
          <strong>YOLO (You Only Look Once):</strong> For quick and effective detection, a real-time object detection
          algorithm predicts bounding boxes and class probabilities in a single pass. <br>
          <strong>DeepSORT:</strong> DeepSORT enhances tracking in crowded environments and occlusion scenarios by
          integrating deep learning features.<br>
          <strong>Tesseract:</strong> language recognition tool that is used to extract text from images.<br>
          <strong>PyTorch:</strong> PyTorch is a popular tool for research and application development that offers tools
          for configuring and training neural networks. <br>
          <strong>NumPy:</strong> Large, multi-dimensional arrays and matrices are supported by NumPy, along with
          mathematical functions that can be applied to these arrays. <br>
          <strong>Pandas:</strong> Pandas offers tabular data structures such as DataFrames that are helpful for
          organizing, examining, and evaluating structured data. <br>


        </div>

      </div>

      <div class="musaib" style="display:block ;">
        <h1 style="font-weight: 200px; padding-left: 525px; padding-top: 5%;">Architecture</h1>
        <img style="height: 900px; width: 1100px;padding-top: 20px; padding-left: 12%;" src="./architecture.jpg" alt="">
      </div>

      <div class="properties section">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 offset-lg-4">
              <div class="section-heading text-center">
                <h2>Use Cases:</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="item">
                <img src="./assets/images/property-01.jpg" alt="" />
                <h4>
                  Enforcing Traffic Safety:
                </h4>
                ğ‘¼ğ’•ğ’Šğ’ğ’Šğ’›ğ’† ğ’•ğ’‰ğ’† ğ‘¨ğ‘° ğ’”ğ’šğ’”ğ’•ğ’†ğ’ ğ’•ğ’ ğ’Šğ’…ğ’†ğ’ğ’•ğ’Šğ’‡ğ’š ğ’“ğ’Šğ’…ğ’†ğ’“ğ’” ğ’˜ğ’‰ğ’ ğ’‚ğ’“ğ’† ğ’ğ’ğ’•
                ğ’˜ğ’†ğ’‚ğ’“ğ’Šğ’ğ’ˆ ğ’‰ğ’†ğ’ğ’ğ’†ğ’•ğ’” ğ’Šğ’ ğ’ğ’“ğ’…ğ’†ğ’“ ğ’•ğ’ ğ’†ğ’ğ’‡ğ’ğ’“ğ’„ğ’† ğ’‰ğ’†ğ’ğ’ğ’†ğ’•-ğ’˜ğ’†ğ’‚ğ’“ğ’Šğ’ğ’ˆ ğ’ğ’‚ğ’˜ğ’”
                ğ’‚ğ’ğ’… ğ’”ğ’–ğ’‘ğ’‘ğ’ğ’“ğ’• ğ’ğ’‚ğ’˜ ğ’†ğ’ğ’‡ğ’ğ’“ğ’„ğ’†ğ’ğ’†ğ’ğ’• ğ’Šğ’ ğ’ğ’‚ğ’Šğ’ğ’•ğ’‚ğ’Šğ’ğ’Šğ’ğ’ˆ ğ’•ğ’“ğ’‚ğ’‡ğ’‡ğ’Šğ’„
                ğ’”ğ’‚ğ’‡ğ’†ğ’•ğ’š.
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="item">
                <a href="property-details.html"><img src="./assets/images/property-02.jpg" alt="" /></a>
                <h4>
                  Bike rentals and ride-sharing services:
                </h4>
                ğ‘°ğ’ ğ’ğ’“ğ’…ğ’†ğ’“ ğ’•ğ’ ğ’Šğ’ğ’‘ğ’“ğ’ğ’—ğ’† ğ’”ğ’‚ğ’‡ğ’†ğ’•ğ’š ğ’‘ğ’“ğ’†ğ’„ğ’‚ğ’–ğ’•ğ’Šğ’ğ’ğ’” ğ’‚ğ’ğ’… ğ’ˆğ’–ğ’‚ğ’“ğ’‚ğ’ğ’•ğ’†ğ’†
                ğ’•ğ’‰ğ’‚ğ’• ğ’–ğ’”ğ’†ğ’“ğ’” ğ’˜ğ’†ğ’‚ğ’“ ğ’‰ğ’†ğ’ğ’ğ’†ğ’•ğ’” ğ’˜ğ’‰ğ’Šğ’ğ’† ğ’“ğ’Šğ’…ğ’Šğ’ğ’ˆ, ğ’Šğ’ğ’•ğ’†ğ’ˆğ’“ğ’‚ğ’•ğ’† ğ’•ğ’‰ğ’†
                ğ’”ğ’šğ’”ğ’•ğ’†ğ’ ğ’Šğ’ğ’•ğ’ ğ’“ğ’Šğ’…ğ’†-ğ’”ğ’‰ğ’‚ğ’“ğ’Šğ’ğ’ˆ ğ’ğ’“ ğ’ƒğ’Šğ’Œğ’† ğ’“ğ’†ğ’ğ’•ğ’‚ğ’ ğ’”ğ’†ğ’“ğ’—ğ’Šğ’„ğ’†ğ’”.
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="item">

                <img src="./assets/images/property-03.jpg" alt="" />

                <h4>
                  School Zones and Educational Institutions:
                </h4>
                ğ‘°ğ’ğ’”ğ’•ğ’‚ğ’ğ’ ğ’•ğ’‰ğ’† ğ‘¨ğ‘° ğ’”ğ’šğ’”ğ’•ğ’†ğ’ ğ’„ğ’ğ’ğ’”ğ’† ğ’•ğ’ ğ’”ğ’„ğ’‰ğ’ğ’ğ’ ğ’›ğ’ğ’ğ’†ğ’” ğ’•ğ’ ğ’ğ’‚ğ’Œğ’† ğ’”ğ’–ğ’“ğ’†
                ğ’‘ğ’‚ğ’“ğ’†ğ’ğ’•ğ’” ğ’‚ğ’ğ’… ğ’”ğ’•ğ’–ğ’…ğ’†ğ’ğ’•ğ’” ğ’‡ğ’ğ’ğ’ğ’ğ’˜ ğ’‰ğ’†ğ’ğ’ğ’†ğ’• ğ’ğ’‚ğ’˜ğ’” ğ’‚ğ’ğ’… ğ’Šğ’ğ’‘ğ’“ğ’ğ’—ğ’†
                ğ’„ğ’‰ğ’Šğ’ğ’… ğ’”ğ’‚ğ’‡ğ’†ğ’•ğ’š.
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="item">

                <img src="./assets/images/property-04.jpg" alt="" />
                <h4>
                  Initiatives for Smart Cities:
                </h4>
                ğ‘°ğ’ğ’„ğ’ğ’–ğ’…ğ’† ğ’•ğ’‰ğ’† ğ’”ğ’šğ’”ğ’•ğ’†ğ’ ğ’Šğ’ ğ’”ğ’ğ’‚ğ’“ğ’• ğ’„ğ’Šğ’•ğ’š ğ’‘ğ’“ğ’ğ’‹ğ’†ğ’„ğ’•ğ’” ğ’•ğ’ ğ’Šğ’ğ’‘ğ’“ğ’ğ’—ğ’†
                ğ’•ğ’“ğ’‚ğ’‡ğ’‡ğ’Šğ’„ ğ’„ğ’ğ’ğ’•ğ’“ğ’ğ’ ğ’‚ğ’ğ’… ğ’†ğ’ğ’„ğ’ğ’–ğ’“ğ’‚ğ’ˆğ’† ğ’”ğ’‚ğ’‡ğ’†ğ’“ ğ’ƒğ’Šğ’„ğ’šğ’„ğ’ğ’Šğ’ğ’ˆ ğ’‰ğ’‚ğ’ƒğ’Šğ’•ğ’”.
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="item">
                <img src="./assets/images/property-05.jpg" alt="" />
                <h4>
                  Evaluation of Insurance Risk:
                </h4>
                ğ‘®ğ’Šğ’—ğ’† ğ’Šğ’ğ’”ğ’–ğ’“ğ’‚ğ’ğ’„ğ’† ğ’„ğ’ğ’ğ’‘ğ’‚ğ’ğ’Šğ’†ğ’” ğ’Šğ’ğ’‡ğ’ğ’“ğ’ğ’‚ğ’•ğ’Šğ’ğ’ ğ’ğ’ ğ’‰ğ’†ğ’ğ’ğ’†ğ’• ğ’–ğ’”ğ’‚ğ’ˆğ’†
                ğ’•ğ’“ğ’†ğ’ğ’…ğ’” ğ’”ğ’ ğ’•ğ’‰ğ’†ğ’š ğ’„ğ’‚ğ’ ğ’†ğ’—ğ’‚ğ’ğ’–ğ’‚ğ’•ğ’† ğ’“ğ’Šğ’”ğ’Œ ğ’‘ğ’“ğ’ğ’‡ğ’Šğ’ğ’†ğ’” ğ’‚ğ’ğ’… ğ’‘ğ’†ğ’“ğ’‰ğ’‚ğ’‘ğ’”
                ğ’†ğ’—ğ’†ğ’ ğ’‘ğ’“ğ’ğ’—ğ’Šğ’…ğ’† ğ’Šğ’ğ’„ğ’†ğ’ğ’•ğ’Šğ’—ğ’†ğ’” ğ’‡ğ’ğ’“ ğ’”ğ’‚ğ’‡ğ’† ğ’“ğ’Šğ’…ğ’Šğ’ğ’ˆ ğ’‘ğ’“ğ’‚ğ’„ğ’•ğ’Šğ’„ğ’†ğ’”.
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="item">
                <img src="./assets/images/property-06.jpg" alt="" />
                <h4>
                  Awareness of Public Health:
                </h4>
                ğ‘«ğ’†ğ’—ğ’†ğ’ğ’ğ’‘ ğ’‚ ğ’„ğ’–ğ’ğ’•ğ’–ğ’“ğ’† ğ’ğ’‡ ğ’“ğ’†ğ’”ğ’‘ğ’ğ’ğ’”ğ’Šğ’ƒğ’ğ’† ğ’‚ğ’ğ’… ğ’”ğ’‚ğ’‡ğ’† ğ’“ğ’Šğ’…ğ’Šğ’ğ’ˆ ğ’ƒğ’š
                ğ’„ğ’–ğ’”ğ’•ğ’ğ’ğ’Šğ’›ğ’Šğ’ğ’ˆ ğ’„ğ’ğ’ğ’ğ’–ğ’ğ’Šğ’•ğ’š-ğ’”ğ’‘ğ’†ğ’„ğ’Šğ’‡ğ’Šğ’„ ğ’‚ğ’˜ğ’‚ğ’“ğ’†ğ’ğ’†ğ’”ğ’” ğ’‘ğ’“ğ’ğ’ˆğ’“ğ’‚ğ’ğ’” ğ’˜ğ’Šğ’•ğ’‰
                ğ’•ğ’‰ğ’† ğ’‰ğ’†ğ’ğ’‘ ğ’ğ’‡ ğ’•ğ’‰ğ’† ğ’”ğ’šğ’”ğ’•ğ’†ğ’'ğ’” ğ’…ğ’‚ğ’•ğ’‚.
              </div>
            </div>
          </div>
        </div>
      </div>


      <footer>
        <div class="container">
          <div class="col-lg-8">
            <p style="padding-left: 45%;">
              Copyright Â© 2023 &emsp; Code-Enforcers &emsp; All rights reserved.
            </p>
          </div>
        </div>
      </footer>

      <!-- Scripts -->
      <!-- Bootstrap core JavaScript -->
      <script src="./vendor/jquery/jquery.min.js"></script>
      <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="./assets/js/isotope.min.js"></script>
      <script src="./assets/js/owl-carousel.js"></script>
      <script src="./assets/js/counter.js"></script>
      <script src="./assets/js/custom.js"></script>
      Â </body>

</html>