<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">

    <title>Villa Agency - Real Estate HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="./assets/css/fontawesome.css" />
    <link rel="stylesheet" href="./assets/css/templatemo-villa-agency.css" />
    <link rel="stylesheet" href="./assets/css/owl.css" />
    <link rel="stylesheet" href="./assets/css/animate.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
    />

    <!-- ** Header Area Start ** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ** Logo Start ** -->
              <a href="index.html" class="logo">
                <h1>RoadSenseAi</h1>
              </a>
              <!-- ** Logo End ** -->
              <!-- ** Menu Start ** -->
              <ul class="nav">
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="">No Helmet</a></li>
                <li><a href="">Wrongside</a></li>
                <li><a href="">Traffic light Breaking</a></li>
                <li><a href="contact.html"> Login</a></li>
                <!--  <li>
                  <a href="#"
                    ><i class="fa fa-calendar"></i> Schedule a visit</a
                  >
                </li> -->
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ** Menu End ** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ** Header Area End ** -->

    <div class="main-banner">
      <div class="owl-carousel owl-banner">
        <div class="item item-1">
         <!-- --> <div class="header-text">
            <span class="category"><em></em></span>
            <h2><br /></h2>
          </div>
        </div>
        <div class="item item-2">
          <div class="header-text">
            <span class="category"> <em></em></span>
            <h2><br /></h2>
          </div>
        </div>
        <div class="item item-3">
          <div class="header-text">
            <span class="category"><em></em></span>
            <h2><br /></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="featured section">
      <div class="container">
        <div class="row">
          <div class="section-heading" style="padding-left: 20%;">
            <h1 style="font-weight: 800; padding-left: 22%;padding-bottom:6%;">Flowchart</h1>
          
              <img src="flowchart2.svg" alt="" style="height:68%; width: 68%;"/>
              </div>
          <div style="background-color: bisque;">
            <h1 style="text-align: center ;">AI Software to detect Traffic rules violators</h1>
            <h4>Improvements in Road Safety:</h4>
Reduces the severity of head injuries sustained in motorbike accidents and improves road safety by encouraging and enforcing the use of helmets. <br>
<h4>Automated Monitoring of Law:</h4>
Reduces the need for manual    enforcement by offering an  automated method of monitoring and guaranteeing adherence to laws requiring the wearing of helmets.
<h4>Intervention in Time:</h4>
Permits prompt detection and action when riders fail to wear helmets, enabling the issue of warnings or corrective measures right away.
<h4>Active Violators:</h4>
serves to discourage riders who might otherwise forget to wear helmets, fostering a culture of responsible and safe riding practices.
          </div>
         
          
             <!--   <div class="col-lg-5">
            <div class="accordion" id="accordionExample">
                 <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
              
                  </div>
                </div>
             
        </div>
      </div> --> 
    </div>

    <div class="video section">

    </div>

    <div class="properties section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 offset-lg-4">
            <div class="section-heading text-center">
              <h2>Use Cases:</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="item">
            <img src="assets/images/property-01.jpg" alt=""
              />
              <h4>
                  Enforcing Traffic Safety:
              </h4>
              ğ‘¼ğ’•ğ’Šğ’ğ’Šğ’›ğ’† ğ’•ğ’‰ğ’† ğ‘¨ğ‘° ğ’”ğ’šğ’”ğ’•ğ’†ğ’ ğ’•ğ’ ğ’Šğ’…ğ’†ğ’ğ’•ğ’Šğ’‡ğ’š ğ’“ğ’Šğ’…ğ’†ğ’“ğ’” ğ’˜ğ’‰ğ’ ğ’‚ğ’“ğ’† ğ’ğ’ğ’• ğ’˜ğ’†ğ’‚ğ’“ğ’Šğ’ğ’ˆ ğ’‰ğ’†ğ’ğ’ğ’†ğ’•ğ’” ğ’Šğ’ ğ’ğ’“ğ’…ğ’†ğ’“ ğ’•ğ’ ğ’†ğ’ğ’‡ğ’ğ’“ğ’„ğ’† ğ’‰ğ’†ğ’ğ’ğ’†ğ’•-ğ’˜ğ’†ğ’‚ğ’“ğ’Šğ’ğ’ˆ ğ’ğ’‚ğ’˜ğ’” ğ’‚ğ’ğ’… ğ’”ğ’–ğ’‘ğ’‘ğ’ğ’“ğ’• ğ’ğ’‚ğ’˜ ğ’†ğ’ğ’‡ğ’ğ’“ğ’„ğ’†ğ’ğ’†ğ’ğ’• ğ’Šğ’ ğ’ğ’‚ğ’Šğ’ğ’•ğ’‚ğ’Šğ’ğ’Šğ’ğ’ˆ ğ’•ğ’“ğ’‚ğ’‡ğ’‡ğ’Šğ’„ ğ’”ğ’‚ğ’‡ğ’†ğ’•ğ’š.         
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <a href="property-details.html"
                ><img src="assets/images/property-02.jpg" alt=""
              /></a>
              <h4>
                Bike rentals and ride-sharing services:
              </h4>
              ğ‘°ğ’ ğ’ğ’“ğ’…ğ’†ğ’“ ğ’•ğ’ ğ’Šğ’ğ’‘ğ’“ğ’ğ’—ğ’† ğ’”ğ’‚ğ’‡ğ’†ğ’•ğ’š ğ’‘ğ’“ğ’†ğ’„ğ’‚ğ’–ğ’•ğ’Šğ’ğ’ğ’” ğ’‚ğ’ğ’… ğ’ˆğ’–ğ’‚ğ’“ğ’‚ğ’ğ’•ğ’†ğ’† ğ’•ğ’‰ğ’‚ğ’• ğ’–ğ’”ğ’†ğ’“ğ’” ğ’˜ğ’†ğ’‚ğ’“ ğ’‰ğ’†ğ’ğ’ğ’†ğ’•ğ’” ğ’˜ğ’‰ğ’Šğ’ğ’† ğ’“ğ’Šğ’…ğ’Šğ’ğ’ˆ, ğ’Šğ’ğ’•ğ’†ğ’ˆğ’“ğ’‚ğ’•ğ’† ğ’•ğ’‰ğ’† ğ’”ğ’šğ’”ğ’•ğ’†ğ’ ğ’Šğ’ğ’•ğ’ ğ’“ğ’Šğ’…ğ’†-ğ’”ğ’‰ğ’‚ğ’“ğ’Šğ’ğ’ˆ ğ’ğ’“ ğ’ƒğ’Šğ’Œğ’† ğ’“ğ’†ğ’ğ’•ğ’‚ğ’ ğ’”ğ’†ğ’“ğ’—ğ’Šğ’„ğ’†ğ’”.
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <a href="property-details.html"
                ><img src="assets/images/property-03.jpg" alt=""
              />
              <h4>
                <a href="property-details.html"
                  ></a>
              </h4>
              <ul>
                <li>Bedrooms: <span>5</span></li>
                <li>Bathrooms: <span>4</span></li>
                <li>Area: <span>225m2</span></li>
                <li>Floor: <span>3</span></li>
                <li>Parking: <span>10 spots</span></li>
              </ul>
              <div class="main-button">
                <a href="property-details.html">Schedule a visit</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <a href="property-details.html"
                ><img src="assets/images/property-04.jpg" alt=""
              /></a>
              <span class="category">Apartment</span>
              <h6>$584.500</h6>
              <h4>
                <a href="property-details.html"
                  >12 New Street Miami, OR 12650</a
                >
              </h4>
              <ul>
                <li>Bedrooms: <span>4</span></li>
                <li>Bathrooms: <span>3</span></li>
                <li>Area: <span>125m2</span></li>
                <li>Floor: <span>25th</span></li>
                <li>Parking: <span>2 cars</span></li>
              </ul>
              <div class="main-button">
                <a href="property-details.html">Schedule a visit</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <a href="property-details.html"
                ><img src="assets/images/property-05.jpg" alt=""
              /></a>
              <span class="category">Penthouse</span>
              <h6>$925.600</h6>
              <h4>
                <a href="property-details.html"
                  >34 Beach Street Miami, OR 42680</a
                >
              </h4>
              <ul>
                <li>Bedrooms: <span>4</span></li>
                <li>Bathrooms: <span>4</span></li>
                <li>Area: <span>180m2</span></li>
                <li>Floor: <span>38th</span></li>
                <li>Parking: <span>2 cars</span></li>
              </ul>
              <div class="main-button">
                <a href="property-details.html">Schedule a visit</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="item">
              <a href="property-details.html"
                ><img src="assets/images/property-06.jpg" alt=""
              /></a>
              <span class="category">Modern Condo</span>
              <h6>$450.000</h6>
              <h4>
                <a href="property-details.html"
                  >22 New Street Portland, OR 16540</a
                >
              </h4>
              <ul>
                <li>Bedrooms: <span>3</span></li>
                <li>Bathrooms: <span>2</span></li>
                <li>Area: <span>165m2</span></li>
                <li>Floor: <span>26th</span></li>
                <li>Parking: <span>3 cars</span></li>
              </ul>
              <div class="main-button">
                <a href="property-details.html">Schedule a visit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <footer>
      <div class="container">
        <div class="col-lg-8">
          <p>
            Copyright Â© 2048 Villa Agency Co., Ltd. All rights reserved. Design:
            <a rel="nofollow" href="https://templatemo.com" target="_blank"
              >TemplateMo</a
            >
          </p>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="./assets/js/isotope.min.js"></script>
    <script src="./assets/js/owl-carousel.js"></script>
    <script src="./assets/js/counter.js"></script>
    <script src="./assets/js/custom.js"></script>
  </body>
</html>